.track{
    display: inline-block;
}

.chat{
  display: inline-block;
}

#footer{
  position: fixed;
  bottom: 0;
}

#competitors{
  border: 2px rgba(0, 0, 0, 0); double;
  border-right: 2px red double;
  font-family: Courier;
  color:rgba(0, 0, 0, 0);
  font-size: 30px;
  position: absolute;
  padding: 0;
  margin: 0;
}

#track{
  border: 2px blue double;
  font-family: Courier;
  color: #858585;
  font-size: 30px;
  position:absolute;
  overflow: auto;
}

#myTrack{
  border: 2px green dashed;
  font-family: Courier;
  color: black;
  font-size: 30px;
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: auto;
}

#container{
  padding: 0;
  position: relative;
  height: 300px;
  overflow: auto;
}

#globalScreen{
  position: absolute;
  bottom: 0;
}

.char{
  display: inline-block;
  width:auto;
  padding: 0;
  margin: 0;
}

.space{
  color:rgba(0, 0, 0, 0);
}
