.track{
    display: inline-block;
}

.chat{
  display: inline-block;
}

#footer{
  position: fixed;
  bottom: 0;
}

#track{
  border: 2px blue solid;
  font-family: Courier;
  color: #858585;
  font-size: 30px;
  position:absolute;
  overflow: auto;
}

.char{
  border: 0px;
  display: inline-block;
  width:auto;
  padding: 0;
  margin: 0;
}

.space{
  color:rgba(0, 0, 0, 0);
}

.competitors{
  font-family: Courier;
  color:rgba(0, 0, 0, 0);
  font-size: 30px;
  position: absolute;
  padding: 0;
  margin: 0;
}

.lastChar{
  border-right: 2px red double;
  display: inline-block;
}


#myTrack{
  font-family: Courier;
  color: black;
  font-size: 30px;
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.myLastChar{
  border-right: 2px green double;
  display: inline-block;
}

#container{
  padding: 0;
  position: relative;
  height: 400px;
  overflow: auto;
}

#globalScreen{
  height: 400px;
  overflow: auto;
}

.msgs{
  background-color: #ccffff;
}
